/* Reset for navbar buttons */
.navbar button {
  all: unset;
  font-family: inherit;
  cursor: pointer;
}

/* Main navbar row */
.navbar {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;              /* IMPORTANT: remember this value */
  z-index: 1000;
  height: 64px;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;
}

/* Left: logo + text */
.nav-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Force logo small */
.logo {
  width: 35px !important;
  height: 35px !important;
  object-fit: contain;
  display: block;
}

/* Brand text */
.brand-title {
  font-size: 15px;
  font-family: 'Arimo', sans-serif;
  font-weight: 800;
  line-height: 1;
  color: #111;
}

.brand-sub {
  font-size: 10px;
  color: #777;
  line-height: 1.2;
  font-family: 'Arimo', sans-serif;
}

/* Center links */
.nav-center {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link {
  color: #0f766e !important;  /* force visible color */
  background: transparent;
  font-family: 'Arimo', sans-serif;
  padding: 10px 20px;
}


.nav-link.active {
  background: #eaf6ff;
  color: #1aa7a1;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 15px;
  font-family: 'Arimo', sans-serif;
}


/* Right side container */
.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
  color: #111;
  padding: 10px 20px;
  margin-right: 40px;
}

/* Base button */
.btn {
  font-size: 13px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Login button (outlined) */
.btn-outline {
  background: #ffffff;
  color: #333;
  border: 1px solid #d0d0d0;   /* ✔ border added */
  padding: 10px 18px;
  border-radius: 8px;    
  margin-right: 40px;      
}

/* Sign Up button (filled green) */
.btn-solid {
  background-color: #0f766e;   /* ✔ green background */
  color: #ffffff;
  border: 1px solid #0f766e;
  padding: 10px 18px;
  border-radius: 8px;          /* ✔ rounded corners */
}

.btn-outline:hover {
  background-color: #115e59;
  padding: 10px 18px;
  color: #ffffff;
  border-radius: 10px;
}

.btn-solid:hover {
  background-color: #115e59;
  padding: 10px 18px;
  color: #ffffff;
  border-radius: 10px;
}


